:root {
    --dur: 250ms;
    --timing: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .btn {
    cursor: pointer;
}

/* style background image */
.hero{ 
    background: url(../img/fon-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: rgb(251, 285, 249, 0.7);
    display: flex;
    gap: 100px;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    color: green;
    font-weight: 800;
}

.rate {
    font-size: 24px;
    color: green;
}

.enemy-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.registration-btn, .reset-btn {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 250px;
    height: 80px;
    background-color: rgb(115, 255, 0);
    border: 4px solid rgb(115, 350, 0);
    border-radius: 5px;
    color: beige;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateX(-50%);
}

.reset-btn {
    top: 0%;
    left: 90%;
    margin-top: 6px;
    width: 115px;
    height: 60px;
}

.registration-btn:hover, .reset-btn:hover{
    background-color: rgb(0, 255, 60);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 4px solid rgb(0, 295, 60);;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* MODAL for registration*/
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 56, 54, 0.8 );
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal-login {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 500px;
    min-height: 260px;
    background-color: rgb(251, 285, 249, 0.7);
    border-radius: 4px;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 300ms linear;
    padding: 15px;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleX(0);
}

.modal-close,
.modal-close-btn {
    position: relative;
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-color: green;
    color: #fff;
    border-radius: 50%;
    border: none;
    transition-property: background-color, fill;
    transition-duration: var(--dur);
    transition-timing-function: var(--timing);
    cursor: pointer;
}

.modal-input:hover {
    border: 3px solid green;
}

.input-icon {
    fill: green;
}

.modal-close-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
}

.label {
    position: relative;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  
  .input-icon {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
  }

.modal-close:hover,
.modal-close:focus,
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: darkgreen;
  transition-property: background-color;
  transition-timing-function: var(--timing);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* style form for registration */
.modal-title {
    font-size: 18px;
    font-weight: 700;
    color: green;
    text-align: center;
    margin-bottom: 15px;
}
  
.modal-input {
    width: 90%;
    height: 40px;
    background-color: transparent;
    border: 1px solid green;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    color: green;
    padding-left: 40px;
    outline: none;
    
}

.modal-form {
    text-align: center;
}

.submit-btn, .cansel-btn {
    width: 100px;
    height: 30px;
    background-color: green;
    border: 1px solid darkgreen;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.submit-btn {
    margin-right: 10px;
}

.submit-btn:hover, .cansel-btn:hover {
    background-color: darkgreen;
    transition-property: background-color;
    transition-timing-function: var(--timing);
}

/* styles for game-modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: rgb(251, 285, 249, 0.7);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 5px;
  }
  
  .modal-content h2 {
    margin-top: 0;
    color: green;
  }
  
  .modal-content p {
    margin-bottom: 0;
    color: rgb(15, 64, 36);
  }
  
  .modal.active {
    display: block;
  }